@{
    ViewData["Title"] = "Home Page";
}

@ViewBag.Value1;
@ViewBag.Value2;
@ViewBag.Value3;
@ViewBag.Name1;
@ViewBag.Age1;
@ViewBag.Name2;

<br />
@ViewBag.Database
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
